<form [formGroup]="this.myForm">
  <div>
    <div class="wrapper">
      <div class="contact-form" style=" max-width: 400px;">
        <div class="input-fields" style=" width: 100%">
          
          <nz-select
          formControlName="rad_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Odaberi rad"
        >
          <nz-option
            *ngFor="let rad of this.radovi "
            [nzLabel]="rad.naziv_hr"
            [nzValue]="rad.id"
          ></nz-option>
        </nz-select><br>

        <nz-select
          formControlName="status_verzije_id"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Odaberi rad"
        >
          <nz-option
            *ngFor="let statusi of this.statusi_verzija "
            [nzLabel]="statusi.naziv"
            [nzValue]="statusi.id"
          ></nz-option>
        </nz-select><br>

        

          <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload"  >
              <button   nz-button><i nz-icon type="upload"></i><span formControlName="datoteka">Select File</span></button>
          </nz-upload>
            

          <br>

          

          <button  nz-button nzType="primary" (click)="this.kreirajDatoteku()">Predaj datoteku</button>

        </div>
      </div>
    </div>
  </div>
</form>


