<form [formGroup]="this.myForm">
  <div>
    <div class="wrapper">
      <div class="contact-form" style=" max-width: 400px;">
        <div class="input-fields" style=" width: 100%">
          <input class="input" formControlName="rad_id" /> <br />

          
          <div >
            <nz-upload  nzListType="" >
              <button nz-button><i nz-icon type="upload"></i><span>Upload</span></button>
            </nz-upload>
          </div>

          <br>

          <input class="input" formControlName="status_verzije_id" /> <br />

          <button  nz-button nzType="primary" (click)="this.kreirajDatoteku()">Predaj datoteku</button>

        </div>
      </div>
    </div>
  </div>
</form>


