<nz-table class="table"   #basicTable [nzData]="this.djelatnici">
  <thead  >
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Oib</th>
      <th>Jmbag</th>
      <th></th>
    </tr>
  </thead>
  <tbody  *ngFor="let djelatnik of basicTable.data">
      <tr >
        <td>{{ djelatnik.ime }}</td>
        <td>{{ djelatnik.prezime }}</td>
        <td>{{ djelatnik.oib }}</td>
        <td>{{ djelatnik.jmbag }}</td>
        <td>
        <button
            routerLink="/e-radovi/djelatnik/{{ djelatnik.id}}"
            style="color: white; "
            nz-button
            nzType="default"
            nzBlock
            [nzSize]="'small'"
            class="btn-edit" >
            
            Uređivanje
          </button>

          <button
            nz-button
            nzType="danger"
            nzBlock
            nzBlock
            [nzSize]="'small'"
            class="btn-delete" >
            <a nz-popconfirm nzTitle="Sure to delete?" style="color: white; ">Delete</a>
          </button>
          </td>
      </tr>
  </tbody>
</nz-table>
