<nz-table #basicTable [nzData]="this.odjeli">
  <thead>
    <tr>
      <th>Naziv fakultet</th>
      <th>Naziv Odjela</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let odjel of basicTable.data">
      <tr >
        <td >{{ this.getNazivFakulteta(odjel.fakultet_id) }}</td>
        <td >{{ odjel.naziv }}</td>
        <td nzLeft="100px">
          <button
            routerLink="/e-radovi/odjel/{{ odjel.id}}"
            style="color: white; "
            nz-button
            nzType="default"
            nzBlock
            [nzSize]="'small'"
            class="btn-edit" >
            
            Uređivanje
          </button>
  
          <button
            nz-button
            nzType="danger"
            nzBlock
            nzBlock
            [nzSize]="'small'"
            class="btn-delete" >
            <a nz-popconfirm nzTitle="Sure to delete?" style="color: white; ">Delete</a>
          </button>
          </td>
      </tr>
  </tbody>
</nz-table>
