<form [formGroup]="this.myForm">
  <div>
    <div class="wrapper">
      <div class="contact-form" style=" max-width: 400px;">
        <div class="input-fields" style=" width: 100%">
          <nz-select
            formControlName="fakultet_id"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Odaberi fakultet"
          >
            <nz-option
              *ngFor="let fakultet of this.fakulteti "
              [nzLabel]="fakultet.naziv"
              [nzValue]="fakultet.id"
            ></nz-option>
          </nz-select>

          <input
            class="input"
            placeholder="Ime odjela"
            formControlName="naziv"
          />
          <button class="btn" (click)="this.kreirajOdjel()" routerLink="/e-radovi/dohvati-odjel">
            Kreiraj odjel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
