

<div  ng-app="autoRefreshApp" ></div>

<nz-table #basicTable [nzData]="this.fakulteti"
 
>
 
  <thead>
    <tr>
      <th>Naziv fakultet</th>
      <th></th>
    </tr>
  </thead>
  <tbody >
     <tr *ngFor="let fakultet of basicTable.data">
        <td> {{ fakultet.naziv }} </td>

      <td nzLeft="100px">
        <button
          routerLink="/e-radovi/fakultet/{{fakultet.id}}"
          nz-button
          nzType="default"
          nzBlock
          [nzSize]="'small'"
          style="color: white; "
          class="btn-edit" >
          Uređivanje
        </button>

        <button
        nz-button
        nzType="default"
        nzBlock
        [nzSize]="'small'"
        style="color: white; "
        class="btn-delete" >
          Delete
        </button>

      </td>
    </tr>
  </tbody>
</nz-table>


