<div class="box">
    <div class="stupac">
    
      <div class="red">
        <form [formGroup]="this.myForm">
          
            <div class="contact-form"   >
              <div class="input-fields" style="width: 100%;">
                <div class="red">
                    <nz-select
                    formControlName="rad_id"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Odaberi rad"
                  >
                    <nz-option
                      *ngFor="let rad of this.radovi"
                      [nzLabel]="rad.naziv_hr"
                      [nzValue]="rad.id"
                    >
                    </nz-option>
                  </nz-select>
                  <button nz-button nzType="primary" nzShape="circle" (click)="this.odabraniRad()" style="margin-left: 2px; background: #002141;"><i nz-icon type="search"></i></button>
                </div>
     
                <form [formGroup]="this.myForm" >   

                
                  <br>

                 <table >
                  <tr>
                    <th> <p class="input" style=" border: none; margin: 2px;  width:100px;">Naziv rada:</p> </th>
                    <th> <input class="input" style=" padding:none; margin: 2px" formControlName="naziv_hr" /><br></th>
                  </tr>

                  <tr >
                    <th ><p class="input" style=" border: none; margin: 2px; width:100px;"> Mentor:</p></th> 
                    <th><input class="input" style=" margin: 2px" formControlName="profesor" /><br></th>
                  </tr>

                  <tr>
                    <th  ><p class="input" style="  border: none;  margin: 2px; width:100px;"> Student:</p></th>
                    <th> <input class="input" style=" margin: 2px" formControlName="student" /><br></th>
                  </tr>

                </table>


                </form>
                
              
            </div>
          </div>
        </form>
      </div>
      
      <div class="red">
        <form [formGroup]="this.myForm">
          
            <div class="contact-form" >
              <div class="input-fields" style="width: 100%;">
                <textarea
                  rows="10"
                  nz-input
                  formControlName="komentar"
                ></textarea>

                
                <button class="btn" (click)="this.kreirajKomentar()">
                  Spremi komentar
                </button>
              </div>
          
          </div>
        </form>
      </div>
    </div>
    <div class="stupac">
      
        <div class="contact-form" style="height: 600px; ">
            <div class="input-fields" style="width: 100%;">
        
          <nz-table
    #headerTable
    [nzData]="kronologija"
    [nzPageSize]="500"
    [nzScroll]="{ y: '450px' }"
    style="border: none"
  >
    <tbody>
      <tr>
        <nz-comment
          *ngFor="let kron of this.kronologija"
          nzAuthor="{{ this.getPunoIme(kron.student_id,kron.djelatnik_id) }}"
          nzDatetime="{{ kron.datum }}"
        >
          <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
          <nz-comment-content>
            <td>
              
                {{ kron.labela }}
             

              <p *ngIf="kron.labela === null">
                 
                  Verzija rada:
                  {{ kron.verzija_predanog_rada }}
                  <br>
                  Ime datoteke:
                  {{ kron.datoteka_ime }}
                  <br>

              <a [href]="kron.datoteka + '/' + kron.datoteka_ime" target="_blank" download>
                <button nz-button nzType="primary" nzShape="round" >
                  <i nz-icon type="download" ></i>
                  Download
                </button>
              </a>

              </p>

            </td>
          </nz-comment-content>
        </nz-comment>
      </tr>
    </tbody>
  </nz-table>
  
            
          
        </div>
      </div>
    </div>
  </div>
  